body{
    background-image: url(assets/ocean.png);
    max-width: 100%;
    font-family: Helvetica;

}

div{
    background-image: url(assets/beach.png);
    width: 800px;
    height: 479px;
    position: absolute;
    top: 10%;
    left: 24%;
    z-index: -2;
}
div > .muschel1{
    background-image: url(assets/muschel.png);
    width: 70px;
    height: 64px;
    position: absolute;
    top: 400px;
    left: 130px;
}

div > .muschel2{
    background-image: url(assets/muschel.png);
    width: 70px;
    height: 64px;
    position: absolute;
    display: block;
    top: 400px;
    left: 370px;
}

div > .muschel3{
    background-image: url(assets/muschel.png);
    width: 70px;
    height: 64px;
    position: absolute;
    display: block;
    top: 400px;
    left: 610px;
}

a:hover{
    background-image: url(assets/muschel_perle.png);
   
}
