body{
    background-image: url(assets/ocean.png);
    max-width: 100%;
    font-family: Helvetica;

}

div{
    background-image: url(assets/beach-rep.png);
    width: 600px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: -2;
}
div > .muschel1{
    background-image: url(assets/muschel.png);
    width: 70px;
    height: 64px;
    position: absolute;
    top: 320px;
    left: 50px;
}

div > .muschel2{
    background-image: url(assets/muschel.png);
    width: 70px;
    height: 64px;
    position: absolute;
    display: block;
    top: 270px;
    left: 250px;
}

div > .muschel3{
    background-image: url(assets/muschel.png);
    width: 70px;
    height: 64px;
    position: absolute;
    display: block;
    top: 310px;
    left: 430px;
}

a:hover{
    background-image: url(assets/muschel_perle.png);
   
}
