body{
background-image: url(assets/bg.png);
font-family: sans-serif;
}
nav{
    position: sticky;
    top: 0;
    float: right;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgba(121, 157, 160, 0.753);
    padding: 0;
    margin-right: 0px;
    border-radius: 5px;
}
.Navigation{
    position: sticky;
    color: white;
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: #E3F6CE;
}
a:hover{
    color: rgba(128, 165, 116, 0.822);    
}
a:active{
    color: white;
}
#aktuell{
    color: rgba(25, 53, 30, 0.5);
}
.ueberschrift{
    font-size: 180px;
    color: #E3F6CE;
    letter-spacing: -10px;
    font-weight: bolder;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.unterueberschrift{
    font-size: 24pt;
    color: #E3F6CE;
    letter-spacing: -3px;
    font-weight: bolder;
    position: absolute;
    top: 21%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: left;
}
img, video{
    display: block;
    margin-left: auto;
    margin-right: auto;
        width: 800px;
}
.Headline{
    font-size: 30pt;
    font-weight: bolder;
    color: rgba(128, 165, 116, 0.822);
    text-align-last: left;
    margin-left: 22%;
}
.text{
    display: inline-block;
    margin-top: -50px;
    margin-left: 310px;
    font-size: 13pt;
}
footer{
    text-align: center;
    font-size: 8pt;
}
.Container .circle{
    position: relative;
    display: block;
    top: -10px;
    margin-left: 235px;;
    margin-right: auto;
    width: 65%;
}
#salam{
    font-size: 14pt;
    color: #E3F6CE;
    letter-spacing: 0.6px;
    font-weight: normal;
    position: absolute;
    top: 55%;
    left: 55%;
    text-align: right;
}
h2{
    color: rgba(128, 165, 116, 0.822);
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 100px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.formular{
    padding: 3px 4px 3px 6px;
    color: whitesmoke;
    background:#7ca597ab;
    width: 250px;
    margin: 7px 0px 7px 100px;
    text-align: left;
}
.formular2 {
    padding: 3px 4px 20px 6px;
    color: whitesmoke;
    background: #799e92b7;
    width: 400px;
    margin: 7px 0px 7px 100px;
    text-align: left;
}
.formular3 {
    padding: 3px 4px 3px 6px;
    color: whitesmoke;
    background: #799e92b7;
    width: 100px;
    margin: 30px 0px 100px 100px;
    text-align: left;
    }
.unterformular{
    padding: 3px 4px 20px 6px;
    color: #7ca597ab;
    width: 400px;
    margin: 7px 0px 7px 100px;
    text-align: left;
}